<div class="span4 offset3 text-center fishbox">

<h1 class="custom-h1">Hello We're coding</h1>
<br />
<h2>This is the web development journey</h2>


<br />

<%= link_to 'Launch', "#", :class => 'btn btn-success' %>

</div>